.BoxesDiv_style{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}

.box{
    background-color: rgba(15, 216, 189); /* Green */
    border: 2px solid rgba(15, 216, 189) ;
    color:white;
    border-radius: 15px;
    width: 35%;
    padding: 5px;
    right: 0;
    height: 400px;

}

#selectoption:hover{
background-color:rgba(111, 236, 219, 0.562);
}
.imgstyle{
    padding-top: 1%;
    width:400px;
     height:250px;
}
@media screen and (max-width: 1024px) {
    .BoxesDiv_style{
        display: flex;
       flex-direction: column;
       justify-content: space-between;
    }
    .box{
       
        width: 90%;
        margin-bottom: 3px;
    }
    .imgstyle{

        width:250px;
         height:200px;
    }
}