.footer-links{
   
    text-align: center;
    padding: 20px;
    border-top: 2px solid lightgray;  
    border-top-width: thin;
    font-size: 12px;}
.afooter{
    color: rgb(1, 146, 236);
}
.afooter:hover{
    text-decoration: underline;
}
.linksdisplay{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
  
}
.alldisplay{
    display: flex;
    justify-content: center;
    align-content: center;
}
